# Токен Telegram-бота от @BotFather
BOT_TOKEN=

# Настройки подключения к базе данных PostgreSQL (локальный дефолт)
DB_CONFIG=postgresql://postgres:123123@localhost:5432/postgres

# Настройки Rule34 API
R34_USER_ID=
R34_API_KEY=
MAX_DAILY_LIMIT=25

# API-ключ погоды (например, OpenWeatherMap)
WEATHER_API_KEY=

# Настройки ID пользователей для модулей
MEDIC_USER_ID=
OWNER_USER_ID=

# ID разрешенных медиков через запятую (если пусто, то доступ только у MEDIC_USER_ID)
ALLOWED_MEDICS=